body {
    min-height: 100vh;
    display: flex;
}

.sidebar {
    width: 220px;
    background-color: #03005D;
    color: white;
    padding: 20px 0;
    min-height: 100vh;
}

.sidebar a {
    color: white;
    padding: 10px 20px;
    display: block;
    text-decoration: none;
}

.sidebar a:hover {
    background-color: #495057;
}

.content {
    flex: 1;
    padding: 30px;
}