/* Reset default */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Segoe UI', sans-serif;
    background-color: #fff;
    color: #000;
  }
  
  .container {
    max-width: 1200px;
    margin: auto;
    padding: 20px;
  }
  
  header {
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
  }
  
  .logo {
    font-size: 24px;
    font-weight: bold;
  }
  
  .login-wrapper {
    display: flex;
    align-items: center;
    justify-content: center; /* Tengah */
    gap: 150px;               /* Atur jarak antar elemen */
    padding: 40px 0;
  }
  
  .image-section img {
    max-width: 100%;
    width: 350px;
    height: auto;
  }
  
  .form-section {
    max-width: 400px;
    width: 100%;
  }
  
  .title {
    color: #031B88;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .subtitle {
    font-size: 14px;
    color: #333;
    margin-bottom: 20px;
  }
  
  .login-form input {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 14px;
  }
  
  .password-field {
    position: relative;
  }
  
  .password-field input {
    padding-right: 40px;
  }
  
  .toggle-password {
    position: absolute;
    right: 12px;
    top: 12px;
    cursor: pointer;
    color: #555;
  }
  
  .login-form button {
    width: 100%;
    background-color: #3A65F7;
    color: #fff;
    padding: 12px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s;
  }
  
  .login-form button:hover {
    background-color: #294dd4;
  }